@page
@using BleakwindBuffet.Data
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background"/>
<div class="text-center">
    <h1 class="display-4">Welcome to the Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
        Hack into a Smokehouse Skeleton with your dagger.
        Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.
    </p>
</div>

<h2>Entrees</h2>
@foreach (IOrderItem entree in Model.Entrees)
{
    <div class="menu-details">
        <h3 class="name">@entree.MockToString</h3>
        <h3 class="price">@entree.Price</h3>
        <h3 class="calories">@entree.Calories</h3>
    </div>
}
<h2>Sides</h2>
@foreach (IOrderItem side in Model.Sides)
{
    <div class="menu-details">
        <h3 class="name">@side.MockToString</h3>
        <h3 class="price">@side.Price</h3>
        <h3 class="calories">@side.Calories</h3>
    </div>
}
<h2>Drinks</h2>
@foreach (IOrderItem drink in Model.Drinks)
{
    <div class="menu-details">
        <h3 class="name">@drink.MockToString</h3>
        <h3 class="price">@drink.Price</h3>
        <h3 class="calories">@drink.Calories</h3>
    </div>
}
<div class="combo-details">
<h2>Combo</h2>
    <p>A discount of $1 will be applied when any Entree, Drink, and Side are ordered together</p>
</div>

